/*@import url(http://fonts.googleapis.com/css?family=Lato);*/

body {
    font-family: 'Roboto', sans-serif;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v15/ek4gzZ-GeXAPcSbHtCeQI_esZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v15/mErvLBYg_cXG3rLvUsKT_fesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v15/-2n2p-_Y08sg57CNWQfKNvesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v15/u0TOpm082MNkS5K0Q4rhqvesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v15/NdF9MtnOpLzo-noMoG0miPesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v15/Fcx7Wwv8OzT71A3E1XOAjvesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v15/CWB0XYA8bzo0kSThX0UTuA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/*| Давайте знайомитись |*/





#lets {
    position: fixed;
    font-size: 1em;
    color: #434343;
    width: 100%;
    padding-top: 10px;
    z-index: 90;
    background-color: #fff;
}

#hello {
    margin-left: 30px;
    float: left;
}

#tel {
    margin-left: 220px;
}



/*--------|Icons|------*/


.header-icons-cont {
    position: fixed;
    padding-top: 10px;
    right: 3%;
    z-index: 92;
}

.header-icons {
    width: 25px;
    height: 27px;
    background-image: url('../icons.png');
    display: inline-block;
    margin-right: 10px;
}


.fbook {
    background-position: 0 0;
}

.pintr {
    background-position: -25px 0;
    width: 27px;
}

.inst {
    background-position: -52px 0;
    width: 28px;
}

.gplus {
    background-position: -80px 0;
    width: 26px;
}

.vkontakte {
    background-position: -106px 0;
}

.youtb {
    background-position: -132px 0;
}



/*| Логотип |*/

#logo {
    position: relative;
    margin-left: 500px;
    top: 40px;
    z-index: 91;
}
/*| Navigation |*/

*, *:before, *:after {
    padding: 0;
    margin: 0;
}

.stickytop {
    position: fixed;
    top: 47px;
    border-top: 0px solid rgba(0,0,0,.1);
}


nav {
    position: absolute;
    top: 200px;
    left: 0;
    width: 100%;
    background: #fff;
    box-shadow: 0 3px 10px -2px rgba(0,0,0,.1);
    border-bottom: 1px solid rgba(0,0,0,.1);
    border-top: 1px solid rgba(0,0,0,.1);
    z-index: 90;
}

    nav ul {
        list-style: none;
        position: relative;
        float: right;
        margin-right: 20px;
        display: inline-table;
    }

        nav ul li {
            float: left;
            -webkit-transition: all .2s ease-in-out;
            -moz-transition: all .2s ease-in-out;
            transition: all .2s ease-in-out;
        }

            nav ul li:hover {
                background: #dfa756;
                color: #fff;
            }

                nav ul li:hover > ul {
                    display: block;
                }


        nav ul li {
            float: left;
            -webkit-transition: all .2s ease-in-out;
            -moz-transition: all .2s ease-in-out;
            transition: all .2s ease-in-out;
        }

            nav ul li a {
                display: block;
                padding: 20px 50px;
                color: #434343;
                font-size: 1.1em;
                font-weight: 500;
                letter-spacing: 1.5px;
                text-decoration: none;
                text-transform: uppercase;
            }

                nav ul li a:hover {
                    color: #fff;
                }


            nav ul li ul li a {
                display: block;
                padding: 15px 5px;
                color: #222;
                font-size: .8em;
                letter-spacing: normal;
                text-decoration: none;
                text-transform: none;
            }


        nav ul ul {
            display: none;
            background: #fff;
            position: absolute;
            top: 100%;
            box-shadow: -3px 3px 10px -2px rgba(0,0,0,.1);
            border: 1px solid rgba(0,0,0,.1);
        }

            nav ul ul li {
                float: none;
                position: relative;
            }

                nav ul ul li a {
                    padding: 15px 30px;
                    border-bottom: 1px solid rgba(0,0,0,.05);
                }

            nav ul ul ul {
                position: absolute;
                left: 100%;
                top: 0;
            }
