/*@import url(http://fonts.googleapis.com/css?family=Lato);*/

body {
    font-family: 'Roboto', sans-serif;
}

/*| Давайте знайомитись |*/





#lets {
    position: fixed;
    font-size: 1em;
    color: #434343;
    width: 100%;
    padding-top: 10px;
    z-index: 90;
    background-color: #fff;
}

#hello {
    margin-left: 30px;
    float: left;
}

#tel {
    margin-left: 220px;
}



/*--------|Icons|------*/


.header-icons-cont {
    position: fixed;
    padding-top: 10px;
    right: 3%;
    z-index: 92;
}

.header-icons {
    width: 25px;
    height: 27px;
    background-image: url('../icons.png');
    display: inline-block;
    margin-right: 10px;
}


.fbook {
    background-position: 0 0;
}

.pintr {
    background-position: -25px 0;
    width: 27px;
}

.inst {
    background-position: -52px 0;
    width: 28px;
}

.gplus {
    background-position: -80px 0;
    width: 26px;
}

.vkontakte {
    background-position: -106px 0;
}

.youtb {
    background-position: -132px 0;
}



/*| Логотип |*/

#logo {
    position: relative;
    margin-left: 500px;
    top: 40px;
    z-index: 91;
}
/*| Navigation |*/

*, *:before, *:after {
    padding: 0;
    margin: 0;
}

.stickytop {
    position: fixed;
    top: 47px;
    border-top: 0px solid rgba(0,0,0,.1);
}


nav {
    position: absolute;
    top: 200px;
    left: 0;
    width: 100%;
    background: #fff;
    box-shadow: 0 3px 10px -2px rgba(0,0,0,.1);
    border-bottom: 1px solid rgba(0,0,0,.1);
    border-top: 1px solid rgba(0,0,0,.1);
    z-index: 90;
}

    nav ul {
        list-style: none;
        position: relative;
        float: right;
        margin-right: 20px;
        display: inline-table;
    }

        nav ul li {
            float: left;
            -webkit-transition: all .2s ease-in-out;
            -moz-transition: all .2s ease-in-out;
            transition: all .2s ease-in-out;
        }

            nav ul li:hover {
                background: #dfa756;
                color: #fff;
            }

                nav ul li:hover > ul {
                    display: block;
                }


        nav ul li {
            float: left;
            -webkit-transition: all .2s ease-in-out;
            -moz-transition: all .2s ease-in-out;
            transition: all .2s ease-in-out;
        }

            nav ul li a {
                display: block;
                padding: 20px 50px;
                color: #434343;
                font-size: 1.1em;
                font-weight: 500;
                letter-spacing: 1.5px;
                text-decoration: none;
                text-transform: uppercase;
            }

                nav ul li a:hover {
                    color: #fff;
                }


            nav ul li ul li a {
                display: block;
                padding: 15px 5px;
                color: #222;
                font-size: .8em;
                letter-spacing: normal;
                text-decoration: none;
                text-transform: none;
            }


        nav ul ul {
            display: none;
            background: #fff;
            position: absolute;
            top: 100%;
            box-shadow: -3px 3px 10px -2px rgba(0,0,0,.1);
            border: 1px solid rgba(0,0,0,.1);
        }

            nav ul ul li {
                float: none;
                position: relative;
            }

                nav ul ul li a {
                    padding: 15px 30px;
                    border-bottom: 1px solid rgba(0,0,0,.05);
                }

            nav ul ul ul {
                position: absolute;
                left: 100%;
                top: 0;
            }
